:root {
  --site-primary: #bd5dbd;
  --site-secondary: #a729a7;
  --site-tertiary: #e3e3e3;
  --text-white: #ffffff;
  --text-black: #000000;
  --shadow: drop-shadow(0 3px 3px);
}

header {
  background-color: var(--site-primary);
}

.navbar {
  background-color: var(--site-tertiary);
  justify-content: center;
}

input,
textarea,
.btn {
  --bs-body-bg: #ffffffb3;
  margin-bottom: .5rem;
}

body {
  background-color: var(--site-tertiary);
  color: var(--text-black);
}

.mdi {
  color: var(--site-secondary)
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.border-start {
  border-left: .5rem solid transparent !important;
}

.contact {
  background-color: #ffffff80;
}

.card {
  border-radius: unset;
}

.dropshadow {
  filter: var(--shadow);
}

.btn {
  border-radius: unset;
  border: 0;
  background-color: var(--site-secondary);
  color: var(--text-white);
}

.form-control {
  border-radius: unset;
  border: 0;
}

.landing-blurb {
  border-left: .25rem solid var(--site-secondary);
  display: none;
}

.hero-bg {
  background-image: url(imgs/hero-bg.png);
  background-size: cover;
  background-position: center;
}

.w-fit {
  max-width: fit-content;
}

.foot {
  background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExajlmN3Y0czM1bjAwZGdhd3FmZmN3aXNkY3BraTM5bHM0aDQ5NG5xNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/dNCZp9aaDHPi0/giphy.webp);
  background-size: cover;
  background-position: center;
  max-height: 10vh;
}

.watch {
  font-size: 175%;
}

[class*="col"],
[class*="row"],
[class*="container"],
[class*="blockquote"],
[class*="span"],
.navbar-brand,
h2,
h3,
h4,
h5,
h6,
p {
  padding: unset;
  margin: unset;
}

@media (min-width: 700px) {
  .landing-blurb {
    display: block;
  }

  .services {
    position: absolute;
  }

  .navbar {
    justify-content: start;
  }
}