:root {
  --site-primary: #bd5dbd;
  --site-secondary: #a729a7;
  --site-tertiary: #e3e3e3;
  --text-white: #ffffff;
  --text-black: #000000;
}

header {
  background-color: var(--site-primary);
}

.navbar-brand {
  color: var(--text-black);
}

input,
textarea {
  --bs-body-bg: #ffffffb3;
}

body {
  background-color: var(--site-tertiary);
  color: var(--text-black);
}

.mdi {
  color: var(--site-secondary)
}

.contact {
  background-color: #ffffff80;
}

.card {
  border-radius: unset;
  filter: drop-shadow(0 3px 3px);
}

.btn {
  border-radius: unset;
  border: 0;
  background-color: var(--site-secondary);
  color: var(--text-white);

}

.form-control {
  border-radius: unset;
  border: 0;
}

.landing-blurb {
  border-left: .25em solid var(--site-primary);
}

.hero-bg {
  background-image: url(imgs/hero-bg.png);
  background-size: cover;
  background-position: center;
}

.w-fit {
  max-width: fit-content;
}

[class*="col"],
[class*="row"],
[class*="container"],
[class*="blockquote"],
.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: unset;
  margin: unset;
}

@media (max-width: 768px) {
  .landing-blurb {
    display: none;
  }
}