:root {}

h5 {
  color: white;
}

input {
  margin-bottom: .5em;
}

input,
textarea {
  --bs-body-bg: #ffffffb3;
}

input[type="checkbox"] {}

.mdi-movie-roll {
  color: black;
}

.contact {
  background-color: #ffffff80;
}

.card {
  border-radius: unset;
}

.dropshadow {
  filter: drop-shadow(0 3px 3px);
}

.form-control {
  border-radius: unset;
  border: 0;
}

.landing-blurb {
  border-left: .25em solid green;
}

.hero-bg {
  background-image: url(imgs/hero-bg.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .landing-blurb {
    display: none;
  }
}